<div class="index container">

    <!-- Inputs for the establishments's information -->
    <h1>Recherche d'établissement</h1>

    <div class="row">
        <div class="col">
            <div class="form-group jumbotron">
                <label>Nom de l'établissement :</label>
                <input type="text" class="form-control" ng-model="view.establishments.name" ng-keyup='enterKeyEstablishmentForm($event)'><br>
                
                <div ng-if="view.establishments.tooMuchResults || view.establishments.resultsTable.length>view.maxResultsToShow">
                    <p ng-if="view.establishments.tooMuchResults" class="alert alert-primary" role="alert">
                        {{view.establishments.resultsBeforeFiltering}} établissements ont été trouvés.<br>
                        Veuillez entrer le numéro de département dans lequel votre établissement a été enregistré afin de réduire le nombre de résultat.
                    </p>

                    <p ng-if="view.establishments.resultsTable.length>view.maxResultsToShow" class="alert alert-primary" role="alert">
                        {{view.establishments.resultsTable.length}} établissements ont été trouvés et préfiltrés.<br>
                        Veuillez entrer le numéro de département dans lequel votre établissement a été enregistré afin de réduire le nombre de résultat.
                    </p>

                    <label>Département :</label>
                    <input type="text" class="form-control" ng-model="view.establishments.department" ng-keyup='enterKeyEstablishmentForm($event)'><br>
                </div> 

                <button class="btn btn-primary" ng-click="establishmentsSearch()">Rechercher</button>
                    
                <!-- errors messages -->
                <div class="alert alert-danger" role="alert" ng-if="view.errorMsg">
                    Erreur : {{view.errorMsg}}
                </div>
            </div>
        </div>
    </div>

    

    <!-- RESULTS SECTION -->
    <div class="results">
        <div class="establishments_results">

            <div ng-if="view.establishments.searchSuccess  && !view.establishments.resultsTable.length && !view.establishments.tooMuchResults && !view.errorMsg">
                <p>
                    Il n'y a aucun établissements correspondant
                </p>
            </div>

            <div ng-if="view.establishments.searchSuccess  && view.maxResultsToShow >= view.establishments.resultsTable.length &&view.establishments.resultsTable.length ">
                <h2>Résultats</h2>
                <p> 
                    {{view.establishments.resultsTable.length}} établissements avec des informations correspondantes ont été trouvés :
                </p>  

                <!-- Companies's results table -->      
                <div class="jumbotron results" ng-repeat="establishment in view.establishments.resultsTable">
                    <div class="row">
                        <div class="col">
                            <span class="info"><label>Nom :</label>{{establishment.name1}}</span>
                            <span class="info" ng-if="establishment.name2"><label>Deuxième Nom :</label>{{establishment.name2}}</span>
                            <span class="info" ng-if="establishment.social_reason"><label>Raison sociale :</label>{{establishment.social_reason}}</span>
                        </div>
                        <div class="col">
                            <span class="info"></span><label>Adresse :</label>{{establishment.address}}</span>
                            <span class="info"><label>Ville :</label>{{establishment.city}}</span>
                            <span class="info"><label>Département :</label>{{establishment.department}}</span>
                            <span class="info"><label>Code postal :</label>{{establishment.postal_code}}</span>
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="row">
                        <div class="col">
                            <span class="info" ng-if="establishment.legal_form"><label>Forme juridique :</label>{{establishment.legal_form}}</span>
                            <span class="info" ng-if="establishment.siren"><label>SIREN :</label>{{establishment.siren}}</span>
                            <span class="info" ng-if="establishment.siret"><label>SIRET :</label>{{establishment.siret}}</span>
                            <span class="info" ng-if="establishment.naf"><label>Code NAF :</label>{{establishment.naf}}</span>
                            <span class="info" ng-if="establishment.nafa"><label>Code NAFA :</label>{{establishment.nafa}}</span>
                            <span class="info" ng-if="establishment.rcs"><label>Code RCS :</label>{{establishment.rcs}}</span>
                            <span class="info" ng-if="establishment.rm"><label>Code RM :</label>{{establishment.rm}}</span> 
                            <span class="info" ng-if="establishment.rna"><label>Code RNA :</label>{{establishment.rna}}</span>
                        </div>
                        <div class="col">                            
                            <span class="info" ng-if="establishment.creation_date"><label>Date de Création :</label>{{establishment.creation_date}}</span>
                            <span class="info" ng-if="establishment.email"><label>Email :</label>{{establishment.email}}</span>
                            <span class="info" ng-if="establishment.phone"><label>Téléphone :</label>{{establishment.phone}}</span>
                            <span class="info" ng-if="establishment.website"><label>Site web :</label>{{establishment.website}}</span>
                        </div>
                    </div>                                       
                </div>

            <!-- this code is to make easier the debugging of mixUpResults -->
            <!-- <div class="establishments-infos" ng-repeat="establishment in view.establishments.resultsTable track by $index">
                <div ng-repeat="(key, val) in establishment">
                    <span class="info" ng-if="val"><span class="label-title">{{key}} : </span>{{val}}</span>
                </div>
            </div> -->
        </div>
  
</div>

