<div class="index">

    <div class="form">

        <!-- Inputs for the establishments's information -->
        <h1>Informations de l'établissement</h1>
        Nom :
        <input type="text" ng-model="view.establishments.name" ng-keyup='enterKeyEstablishmentForm($event)'><br>
        
        <div ng-if="view.establishments.tooMuchResults || view.establishments.resultsTable.length>view.maxResultsToShow">
            <p ng-if="view.establishments.tooMuchResults">
                {{view.establishments.resultsBeforeFiltering}} établissements ont été trouvés. Veuillez entrer le numéro de département dans lequel votre établissement a été enregistré afin de réduire le nombre de résultat.
            </p>

            <p ng-if="view.establishments.resultsTable.length>view.maxResultsToShow">
                {{view.establishments.resultsTable.length}} établissements ont été trouvés et préfiltrés. Veuillez entrer le numéro de département dans lequel votre établissement a été enregistré afin de réduire le nombre de résultat.
            </p>

            Département :
            <input type="text"  ng-model="view.establishments.department" ng-keyup='enterKeyEstablishmentForm($event)'><br>
        </div> 

        <button ng-click="establishmentsSearch()" >Submit</button>
            
        <!-- errors messages -->
        <div class="errorMessage" ng-if="view.errorMsg">
            Erreur : {{view.errorMsg}}
        </div>
    </div>

    

    <!-- RESULTS SECTION -->
    <div class="results">
        <div class="establishments_results">
            <div ng-if="view.establishments.searchSuccess  && !view.establishments.resultsTable.length && !view.establishments.tooMuchResults && !view.errorMsg">
                <p>Il n'y a aucun établissements correspondant </p>
            </div>

            <div ng-if="view.establishments.searchSuccess  && view.maxResultsToShow >= view.establishments.resultsTable.length &&view.establishments.resultsTable.length ">
                <p> {{view.establishments.resultsTable.length}} établissements avec des informations correspondantes ont été trouvés :</p>  

                <!-- Companies's results table -->      
                <div class="establishments-infos" ng-repeat="establishment in view.establishments.resultsTable">
                    <span class="info"><span class="label-title">Nom : </span>{{establishment.name1}}</span>
                    <span class="info" ng-if="establishment.name2"><span class="label-title">Deuxième Nom : </span>{{establishment.name2}}</span>
                    <span class="info" ng-if="establishment.social_reason"><span class="label-title">Raison sociale  : </span>{{establishment.social_reason}}</span>
                    <span class="info"></span><span class="label-title">Adresse : </span> {{establishment.address}}</span>
                    <br>
                    <br>
                    <span class="info"><span class="label-title">Ville : </span> {{establishment.city}}</span>
                    <span class="info"><span class="label-title">departement : </span>{{establishment.department}}</span>
                    <span class="info"><span class="label-title">Code postal : </span>{{establishment.postal_code}}</span>
                    <br>
                    <br>
                    <span class="info" ng-if="establishment.siren"><span class="label-title">siren : </span>{{establishment.siren}}</span>
                    <span class="info" ng-if="establishment.siret"><span class="label-title">siret : </span>{{establishment.siret}}</span>
                    <span class="info" ng-if="establishment.legal_form"><span class="label-title">Forme juridique : </span>{{establishment.legal_form}}</span>
                    <span class="info" ng-if="establishment.naf"><span class="label-title">Code NAF : </span>{{establishment.naf}}</span>
                    <span class="info" ng-if="establishment.nafa"><span class="label-title">Code NAFA : </span>{{establishment.nafa}}</span>
                    <span class="info" ng-if="establishment.rcs"><span class="label-title">Code RCS : </span>{{establishment.rcs}}</span>
                    <span class="info" ng-if="establishment.rm"><span class="label-title">Code RM : </span>{{establishment.rm}}</span> 
                    <span class="info" ng-if="establishment.rna"><span class="label-title">Code RNA : </span>{{establishment.rna}}</span>
                    <span class="info" ng-if="establishment.creation_date"><span class="label-title">date de Création : </span>{{establishment.creation_date}}</span>
                    <br>
                    <span class="info" ng-if="establishment.email"><span class="label-title">date de Création : </span>{{establishment.email}}</span>
                    <span class="info" ng-if="establishment.phone"><span class="label-title">Téléphone : </span>{{establishment.phone}}</span>
                    <span class="info" ng-if="establishment.website"><span class="label-title" >site web : </span>{{establishment.website}}</span>                                       
                </div>

            <!-- this code is to make easier the debugging of mixUpResults -->
            <!-- <div class="establishments-infos" ng-repeat="establishment in view.establishments.resultsTable track by $index">
                <div ng-repeat="(key, val) in establishment">
                    <span class="info" ng-if="val"><span class="label-title">{{key}} : </span>{{val}}</span>
                </div>
            </div> -->
        </div>
  
</div>

